
<div class="container">
    
               <button class="btn btn-secondary" routerLink="/addtodo" >Add Todo</button>
               
               <div>
                  <input type="text" class="form-control" id="" placeholder="Search..." [(ngModel)]="term">
                 </div>   
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos| filter:term; let i=index">
          <td>{{todo.title}}</td>
          <td>{{todo.description}}</td>
          <td>{{todo.categorie}}</td>
          <td>
              <button class="btn btn-success" (click)="onEdit(todo,i)">Edit</button>
              <button class="btn btn-danger" (click)="onDelete(todo)">Delete</button>
              
              
          </td>
        </tr>
        
      
      </tbody>
    </table>
  </div>
